.categorias-container{
    padding: 20px;
    background-color: #FFFFFF;
}

.card-categoria{
    text-align: right;
    width: 135px;
    height: 175px;
    border-radius: 4px;
    margin-right: 20px;
}

