.blog-slider{
    width: 100%;
    max-width: 100vw;
    height: 480px;


}
.blog-container{
    max-width: 100vw;
    background-color: #F7F7F7;
    padding: 1em;
    text-align: left;

}

.blog-container p{
    color: gray;
}

.blog-slider .slick-dots{

  bottom: 0;
  right: 20px;      /* cola no canto direito */
  left: auto;       
  width: auto;      
  text-align: right;
}

.blog-slider .slick-dots li{
 margin: 0 .5px; /*ajusta o espaçamento entre os dots*/
 width: 10px; /*diminui o espaço do li para paroximar mais*/
}