@import '../styles/variables';

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $secondary-color;
}

.footer-container img{
    width: 100%;
    margin-bottom: 2em;
}

.icon-container{
    display: flex;
    width: auto;
    gap: 15px;
}

.social-icon{
    height: 24px;
    width: 24px;
    color: $terciary-color;
}

.text-container{
    /*display flex para alinhar pelo centro do texto como esta no figma*/
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 2em;
    color: #FFFFFF;
}

.text-container span{
    font-weight: bold;
}
.text-container p{
    text-decoration: underline;
}