.header{
    background-color: #FFFFFF;
    display: flex;
    width: 393px;
    height: 55px;
    justify-content: space-between;
    opacity: 1;
    padding-top: 20px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;
    border-bottom-width: 1px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    width: 100%;
    transition: background-color 0.3s ease;

    z-index: 1000;

}
.header.scrolled{
    background-color: transparent;
}

.icon{
    border: none;
    background: grey;
    width: 14;
    height: 14;
}

