.banner-container {
    width: 100%;
}

.banner-image{
    width: 100%;
    height: 698px;
    opacity: 1;
}

.banner-container .slick-dots{

  bottom: 10px;
  right: 20px;      /* cola no canto direito */
  left: auto;       
  width: auto;      
  text-align: right;
}

.banner-container .slick-dots li{
 margin: 0 .5px; /*ajusta o espaçamento entre os dots*/
 width: 10px; /*diminui o espaço do li para paroximar mais*/
}


/*Mudar a cor dos dots do slide para branco*/
.banner-container .slick-dots li button::before{
 color: #FFFFFF;
}
.banner-container .slick-dots li.slick-active button:before {
  color: #FFFFFF;        // cor do dot ativo
  opacity: 1;        // destaque maior
}

.banner-card{
    position: relative;
}

.banner-button{
    position: absolute;

    border: solid 2px #FFFFFF;
    color: #FFFFFF;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px); //efeito de desfoque
    position: absolute;
    text-decoration: underline;
    bottom: 20px;
    left: 20px
}